@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border-radius: 50%;
  border: 2px solid transparent;
  animation: spin 1s linear infinite;
}

// Sizes
.small {
  .spinner {
    width: 16px;
    height: 16px;
    border-width: 2px;
  }
}

.medium {
  .spinner {
    width: 24px;
    height: 24px;
    border-width: 2px;
  }
}

.large {
  .spinner {
    width: 40px;
    height: 40px;
    border-width: 3px;
  }
}

// Colors
.primary {
  .spinner {
    border-top-color: $prime-accent-color;
  }
}

.secondary {
  .spinner {
    border-top-color: $sec-accent-color;
  }
}

.white {
  .spinner {
    border-top-color: $prime-white-color;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
