@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  // padding-bottom: $space-1200;
}

.title {
  @include t24;
  color: $prime-white-color;
  margin-bottom: $space-600;
}

.snackbarContainer {
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.storiesContainer {
  transition: all 0.3s ease;
  overflow: hidden;
}

.visible {
  max-height: 120px;
  opacity: 1;
  padding: $space-400 0;
}

.hidden {
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.tabsContainer {
  padding: $space-400;
}

.sectionBody {
  display: flex;
  flex-direction: column;
  gap: $space-600;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: $space-600;

  &.swiperMode {
    flex: 1;
    padding: 0 $space-400;
    padding-bottom: calc(56px + 46px);
  }
}
