@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: $space-200;
}

.title {
  @include t16;
  margin: 0;
}

.tabGroup {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 99px;
  padding: $space-100;
  background-color: $prime-white-color;
  gap: $space-100;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; // Firefox hide
  &::-webkit-scrollbar {
    display: none;
  } // WebKit hide

  /* Prevent default mobile tap highlight */
  -webkit-tap-highlight-color: transparent;
}
