@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.storiesCard {
  display: flex;
  border-radius: $space-800;
  overflow: hidden;
  background-color: $prime-dark-color;
  box-shadow: $shadow-card-main;
  position: relative;
  height: calc(100vh - 120px - 32px - 56px - 80px - 24px);

  &.small {
    height: 340px;
    width: calc(100dvw - 50% - 6px);
  }

  &.noImage {
    .content {
      height: 100%;
      width: 100%;
    }
  }
}

.image {
  width: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  gap: $space-400;
  min-height: 50%;
  @include flex-column;

  bottom: 0;
  z-index: 1;
  border-radius: $space-800;
  background-color: $alt-accent-color; /* Default color, can be overridden by inline style */
  padding: $space-400 $space-400 $space-400 $space-400;

  &.small {
    min-height: 35%;
  }

  &.content {
    width: 100%;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: $space-300;
}

.title {
  @include t18;
  color: $text-prime-white-color;
  margin: 0;

  &.small {
    @include t16;
    color: $text-prime-dark-color;
  }
}

.description {
  @include r14;
  color: $text-prime-white-color;
  margin: 0;
}

.infoWrapper {
  display: flex;
  gap: $space-300;
}

.infoText {
  display: inline-block;
  @include t12;
  color: $text-prime-dark-color;
  background-color: $sec-white-color;
  padding: $space-100 $space-400;
  border-radius: $space-800;
}
