@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;  
  gap: $space-200;
}

.title {
  @include t16;
  margin: 0;
}

.tabGroup {
  display: flex;
  justify-content: space-between;
  border-radius: 99px;
  padding: $space-100;
  background-color: $prime-white-color;
  gap: 0;
  position: relative;
  overflow: hidden;
  
  /* Prevent default mobile tap highlight */
  -webkit-tap-highlight-color: transparent;
} 