@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: $space-1200;
}

.subscriptionsContainer {
  display: flex;
  flex-direction: column;
  gap: $space-400;
  padding: $space-400 0 0 0;
}

.qrCodeContainerWrapper {
  display: flex;
  flex-direction: column;
  gap: $space-400;
  padding: 0 $space-400;
}

.qrCodeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: $space-800;
  width: 100%;
  padding: $space-400;
  gap: $space-300;
  box-shadow: $shadow-card-main;
}

.qrCodeLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-100;
}

.qrCodeTitle {
  @include r14;
  color: $text-prime-dark-color;
}

.qrCodeId {
  @include t16;
  color: $text-prime-dark-color;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: $space-300;
  border-radius: $space-800;
  padding: $space-400;
  margin-top: auto;
  width: 100%;
  background-color: $sec-dark-color;
}

.detailsTitle {
  @include t16;
  color: $text-prime-white-color;
  margin-bottom: $space-100;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: $space-200;
}

.detailsItem {
  display: flex;
  justify-content: space-between;
}

.itemTitle {
  @include r14;
  color: $text-prime-white-color;
}

.itemValue {
  @include t14;
  color: $text-prime-white-color;
}

.detailsSeparator {
  width: 100%;
  height: 1px;
  background-color: $text-sec-dark-color;
}

.button {
  width: 100%;
}

.detailsText {
  @include r12;
  color: $text-prime-white-color;
}

.buttonsContainer {
  margin-top: $space-300;
  display: flex;
  flex-direction: column;
  gap: $space-200;
}
