@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color: $prime-dark-color;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 256px;
  height: auto;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
