@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.eventTicketCard {
  display: flex;
  border-radius: $space-800;
  overflow: hidden;
  background-color: $prime-dark-color;
  box-shadow: $shadow-card-main;
  position: relative;
  height: 387px;

  &.noImage {
    height: 270px;
    background-color: #9ec7ff;
  }

  &.withoutActionButton {
    height: 285px;
  }

  &.myEvent {
    height: 303px;
  }
}

.image {
  width: 100%;
  object-fit: cover;
}

.title {
  @include t18;
  color: $text-prime-white-color;
  margin: 0;
}

.infoText {
  display: inline-block;
  @include t12;
  color: $text-prime-dark-color;
  background-color: $sec-white-color;
  padding: $space-100 $space-400;
  border-radius: $space-800;
}

.statusText {
  display: inline-block;
  @include t14;
  color: $text-prime-dark-color;
  background-color: $sec-white-color;
  padding: $space-300 $space-400;
  border-radius: 999px;
}

.actionsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: $space-300;
  padding: 0 $space-400 $space-400 $space-400;
}

.statusesWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: $space-300;
  padding: $space-400 $space-400 0 $space-400;
}

.statusLine {
  display: flex;
  justify-content: space-between;
}

.heartWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: $space-300;
  border-radius: 32px;
  padding: $space-400;
  margin-top: auto;

  backdrop-filter: blur($blur-card-main);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.infoWrapper {
  display: flex;
  align-items: flex-start;
  gap: $space-300;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-300;
  border-radius: 32px;
  padding: $space-400;
  margin-top: auto;

  backdrop-filter: blur($blur-card-main);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.button {
  @include t14;
  width: 100%;
}
