@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.header {
  background-color: $prime-accent-color;
  border-radius: 0 0 $space-600 $space-600;
  height: auto;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: $space-300;
  padding-top: $space-600;
  padding-right: $space-600;
  padding-bottom: $space-400;
  padding-left: $space-600;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftButton {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: $space-150 $space-600;
  border-radius: $space-400;
  background-color: black;
  backdrop-filter: blur($blur-card-main);
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
  }
}

.rightButton {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.searchRow {
  display: flex;
  align-items: center;
  gap: $space-200;
  width: 100%;
}

.searchInputContainer {
  flex: 1;
}

.bottomRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.combinedRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 16px;

  .pageName {
    flex: 3;
    text-align: center;
  }

  .leftButton,
  .rightButton {
    flex: 1;
  }
}

.pageName {
  @include r16;
  color: $prime-dark-color;
  text-align: center;
}

@media all and (display-mode: standalone) {
  .header {
    padding-top: $space-800;
  }
}
