@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: $space-1200;
}

.legalDocsContainer {
  display: flex;
  flex-direction: column;
  gap: $space-100;
  padding: $space-100 0 0 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-300;
  border-radius: 32px;
  padding: $space-400;
  margin-top: auto;
  width: 100%;
  background-color: $sec-dark-color;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: $space-100;
}

.infoWrapper {
  display: flex;
  gap: $space-50;
}

.infoText {
  @include r14;
  color: $text-prime-white-color;
}
