@import "@shared/styles/variables.scss";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-bottom: 60px;
  background-color: $prime-dark-color;
}

.snackbarContainer {
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  bottom: calc(env(safe-area-inset-bottom) + 24px);
}

.footer {
  padding-left: 10px;
  padding-bottom: 10px;
}

.infoTextBold {
  font-size: 10px;
  font-weight: 600;
}

.infoText {
  font-size: 10px;
  font-weight: 400;
}
