.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.content {
  flex: 1;
  padding-bottom: 60px;
}

.snackbarContainer {
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  bottom: calc(env(safe-area-inset-bottom) + 24px);
}

@media all and (display-mode: standalone) {
  .content {
    padding-bottom: 0;
  }
}
