@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: $space-100;
  width: 100%;
}

.label {
  @include r14;
  color: var(--Fill-prime-white-color, rgba(255, 255, 255, 1));
  margin-bottom: $space-100;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: all 0.2s ease;
  position: relative;
  width: 100%;
  padding: $space-200 $space-400;
  gap: 4px;
  
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(202, 205, 208, 1);

  &:hover:not(.disabled):not(:focus-within) {
    border: 1px solid rgba(166, 171, 176, 1);
  }

  &:focus-within:not(.error) {
    border: 1px solid rgba(166, 171, 176, 1);
    box-shadow: 0 0 0 3px rgba(16, 178, 81, 0.3);
  }
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #212C3A;
  @include r14;
  padding: $space-50 $space-100;

  width: 100%;

  &::placeholder {
    @include r14;
    color: #626974;
  }
}

.prefix,
.suffix {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #626974;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.error {
  border: 1px solid rgba(224, 83, 83, 1) !important;

  &:focus-within {
    box-shadow: 0 0 0 2px rgba(224, 83, 83, 0.1) !important;
  }
}

.errorText {
  @include r12;
  color: rgba(224, 83, 83, 1);
  margin-top: $space-100;
}

.hint {
  @include r12;
  color: #626974;
  margin-top: $space-100;
}

.disabled {
  background: rgba(233, 234, 236, 1);
  border: 1px solid rgba(202, 205, 208, 1);
  pointer-events: none;

  .input {
    opacity: 0.7;
  }
}

