@import "@shared/styles/variables.scss";
@import "@shared/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: $space-1200;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  gap: $space-400;
}

.eventContent {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $space-100;
  border-radius: 32px;
  padding: $space-400;
  margin-top: auto;
  width: 100%;
  background-color: $sec-dark-color;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: $space-100;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: $space-100;
}

.infoText {
  @include r14;
  color: $text-prime-white-color;
}

.description,
.statistics,
.participants {
  display: flex;
  flex-direction: column;
  gap: $space-300;
  border-radius: 32px;
  padding: $space-400;
  margin-top: auto;
  width: 100%;
  background-color: $sec-dark-color;
}

.participantsWrapper {
  display: flex;
  flex-direction: row;
  gap: $space-300;
  align-items: baseline;
}

.statisticsItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descriptionTitle,
.statisticsTitle,
.participantsTitle {
  @include t16;
  color: $text-prime-white-color;
}

.participantsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $space-200;
  padding: 0 $space-150;
  // max-width: 100%;

  // & > div {
  //   margin-bottom: $space-200;
  // }
}

.participantsValue {
  @include r16;
  color: $sec-fill-color;
}

.descriptionText,
.statisticsText {
  @include r14;
  color: $text-prime-white-color;
}

.statisticsValue {
  @include t14;
  color: $text-prime-white-color;
}

.descriptionContent,
.statisticsContent {
  display: flex;
  flex-direction: column;
  gap: $space-200;
}

.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expanded {
  display: block;
}

.showMoreButton {
  @include t14;
  background: none;
  border: none;
  color: #aff940;
  padding: 0;
  cursor: pointer;
  text-align: left;
  width: fit-content;
}
