@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.button {
  @include t12;
  width: 100%;
  padding: $space-150 $space-400;
  border-radius: 99px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: $text-prime-dark-color;
  transition: color 0.2s ease;
  position: relative;
  
  /* Prevent default mobile tap highlight */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  
  &:hover {
    background-color: $sec-white-color;
    color: $text-prime-dark-color;
  }
  
  &.accent {
    // background-color: $prime-accent-color;
    color: $text-prime-dark-color;
    
    &:hover {
      // background-color: $sec-accent-color;
      color: $text-prime-dark-color;
    }
  }
  
  &:active {
    background-color: transparent;
  }
  
  &.disabled {
    background-color: $sec-white-color;
    color: $text-sec-dark-color;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.content {
  position: relative;
  z-index: 10;
}

.indicator {
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: 99px;
  background-color: $prime-accent-color;
  box-sizing: border-box;
} 